*,
*::before,
*::after {
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

#app {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: sans-serif;
	font-weight: 700;
}

.wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	border: 10px solid #141414;
	border-radius: 10px;
}

.field {
	height: 100px;
	width: 100px;
	background: #141414;
	cursor: pointer;
	transition: 0.3s ease-in;
}

.field.active {
	background: rgba(20, 20, 20, 0.2);
}

.hits-count {
	position: absolute;
	top: 50px;
	left: -150px;
}

.time-left {
	position: absolute;
	top: 20px;
	left: -150px;
}

.modal {
	position: absolute;
	height: 50%;
	width: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: orange;
	border: 5px solid #a73103;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 1;
	transition: transform 0.8s;
	z-index: 10;
}

.modal.hidden {
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -100%);
}

.modal__title {
	margin-bottom: 20px;
}

.modal__points {
	margin-bottom: 20px;
}

.modal__restart {
	height: 75px;
	width: 75px;
	background: url('../images/restart-icon.png') 0 0 / cover no-repeat;
	border-radius: 50%;
	cursor: pointer;
}

.start-game {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 50%;
	left: 50%;
	z-index: 50;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	cursor: pointer;
	background: url('../images/start-icon.png') 0 0 / cover no-repeat;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #141414;
	mix-blend-mode: overlay;
}

.background-video video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
